{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["node_modules/**/*.css"],
  "rules": {
    "at-rule-empty-line-before": null,
    "selector-type-case": null,
    "selector-type-no-unknown": null,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": [
        "export",
        "import",
        "global",
        "local"
      ]
    }],
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]
    }]
  }
}
